version: 2
jobs:
  build:
    working_directory: ~/multiple-language
    docker:
      # - image: circleci/node:6
      # - image: circleci/python:3.6.1
      - image: circleci/python:2.7.9
    steps:
      - checkout
      # for front-end
      # - run:
      #     command: |
      #       cd ~/multiple-language/jsmain
      #       yarn install
      # - run:
      #     command: |
      #       cd ~/multiple-language/jsmain
      #       yarn test
      # - store_artifacts:
      #     path: ~/multiple-language/jsmod/test-results.xml
      #     prefix: tests
      # - store_test_results:
      #     path: ~/multiple-language/jsmod/test-results.xml
      # for back-end
      # - run:
      #     command: pip install setuptools
      # - run:
      #     command: pip install wheel
      - run:
          command: python --version
      - run:
          command: pip install setuptools
      - run:
          command: |
            cd ~/multiple-language/pybase
            python -m unittest discover -v -s ./test
      # - run:
      #     command: |
      #       cd ~/multiple-language/pybase
      #       python setup.py bdist_wheel
      # - run:
      #     command: |
      #       cd ~/multiple-language/pybase
      #       wheel install ./dist/pybase-0.0.0-py3-none-any.whl
      - run:
          command: |
            cd ~/multiple-language/pymain
            python -m unittest discover -v -s ./test
